/* Layout */

html, body, .container-fluid {
    height: 100%;
}

.clear {
    clear: both;
}

body {
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    overflow:hidden;
}

.table {
    display: table;
}

.cell {
    display: table-cell;
}

.content, .table {
    height:100%;
}

.content .cell {
    vertical-align: middle;
    text-align: center;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    font-weight: bold;
}

#play {
    margin: 81px auto;
}

#play, #playButton {
    height: 88px;
    width: 88px;
}

#playButton {
    opacity: 0;
    transition: all 0.75s ease;
    background: #EFEDED url(img/play.png) 31px 23px no-repeat;
    border-radius: 44px;
    position: relative;
    z-index: 1;
}

.fa-spinner {
    font-size:30px;
    line-height:88px;
    position: relative;
    top:-88px;
    z-index:0;
}

#playButton.activePlay {
    opacity: 1;
}

#playButton:hover {
    background-color: #000;
    cursor: pointer;
}

#videoText {
    width: 600px;
    margin: 0 auto;
    line-height: 2em;
}

.teaser, .video {
    height: 100%;
}

.video {
    overflow:hidden;
}

.footer {
    background: #E1E1E1;
    height: 40px;
    line-height: 40px;
    color: #A1A1A1;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
}

.video > div {
    height:100%;
}

.videoContainer {
    position: relative;
    height:816px;
    padding-top:5%;
    /*overflow: hidden;*/
}

.videoContainer, .callToAction {
    width: 1170px;
    margin: 0 auto;

}

.video #container {
    height:100%;
}

.video iframe {
    top: 0;
    left: 0;
    position: absolute;
}

.video iframe.inActive {
    height: 0;
}

.videoPop {
    position: absolute;
    width: 300px;
    height: 169px;
    z-index: 10;
    background: #888;
    font-weight: bold;
    text-shadow: #333 1px 1px 1px;
    left: -50px;
    top: -50px;
    opacity: 0;
    transition: all 0.5s ease;
    text-align:center;
}

.videoPop img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.videoPop:hover {
    cursor: pointer;
}

.videoPop.activePop {
    z-index: 11;
    opacity: 1;
}

.videoPop.popEngage {
    display: none;
}

.videoPop:hover #playMini {
    background-color: #000;
}

.playMini {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #EFEDED url(img/playMini.png) 21px 15px no-repeat;
    margin: 33px auto 0 auto;
}

.callToAction {
    /*width: 1170px;*/
    text-align: center;
}

.callToAction div {
    background: #E1E1E1;
    color: #333132;
    padding: 20px;
}

.callToAction div:hover {
    background: #2ECB70;
    color: #FFF;
    cursor: pointer;
}

/* Typography */

body {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size:14px;
}